name: Build conda package and upload to Anaconda.org

on:
  push:
    tags:
      - 'v*'

jobs:
  build-upload:

    strategy:
      matrix:
        os: [ubuntu-latest, macos-15, macos-15-intel]
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up micromamba (Linux)
        if: runner.os == 'Linux'
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-name: build-env
          condarc: |
            channels:
              - krivenko
              - conda-forge
          create-args: >-
            python=${{ matrix.python-version }}
            rattler-build
            compilers
            sysroot_linux-64=2.17

      - name: Set up micromamba (macOS)
        if: runner.os == 'macOS'
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-name: build-env
          condarc: |
            channels:
              - krivenko
              - conda-forge
          create-args: >-
            python=${{ matrix.python-version }}
            rattler-build
            compilers

      - name: Detect version of libcommute & pycommute
        shell: "bash -l {0}"
        run: |
             TAG=${{ github.ref_name }}
             VERSION=${TAG:1}
             echo "libcommute version: ${VERSION}"
             echo "pycommute version: ${VERSION}"
             echo "LIBCOMMUTE_VERSION=${VERSION}" >> $GITHUB_ENV
             echo "PYCOMMUTE_VERSION=${VERSION}" >> $GITHUB_ENV

      - name: Build Conda Package
        id: build
        shell: "bash -l {0}"
        env:
          PYTHON_VERSION: ${{ matrix.python-version }}
        run: |
             eval "$(micromamba shell hook --shell=bash)"
             micromamba activate build-env
             rattler-build build -c krivenko -c conda-forge \
                  --recipe .conda/recipe.yaml --output-dir ${HOME}/output

      - name: Upload package to Anaconda
        id: upload
        shell: "bash -l {0}"
        env:
          ANACONDA_API_KEY: ${{ secrets.ANACONDA_API_TOKEN }}
        run: |
             # Get the path to the built packages from the output folder
             BUILT_PKG=$(find "${HOME}/output" -type f -name "*.conda")
             BUILT_PKG=$(echo ${BUILT_PKG} | tr '\n' ' ')
             echo "Built packages: ${BUILT_PKG}"

             rattler-build upload anaconda -f -o krivenko ${BUILT_PKG}
