name: Publish on PyPI

on:
  push:
    tags:
      - 'v*'

jobs:
  publish:
    runs-on: ubuntu-24.04
    permissions:
      id-token: write # Required for OIDC
      contents: read

    steps:
    - uses: actions/checkout@v6

    - name: Install libcommute
      run: |
           git clone --branch ${{ github.ref_name }} \
              https://github.com/krivenko/libcommute
           mkdir libcommute.build && pushd libcommute.build
           cmake ../libcommute                                                \
              -DCMAKE_INSTALL_PREFIX=${GITHUB_WORKSPACE}/libcommute.installed \
              -DTESTS=OFF                                                     \
              -DEXAMPLES=OFF
           make install
           popd

    - name: Copy libcommute headers to pycommute sources
      run: |
           cp -rv "${GITHUB_WORKSPACE}/libcommute.installed/include" \
                  src/libcommute

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.14"

    - name: Install Python dependencies
      run: |
           python -m pip install --upgrade pip
           python -m pip install build wheel setuptools pybind11 numpy

    - name: Create source distribution
      run: python -m build --sdist --no-isolation

    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        print-hash: true
