name: Push image to Docker Hub

on:
  push:
    tags:
      - 'v*'

jobs:
  docker:
    runs-on: ubuntu-24.04
    steps:

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push
      id: docker_build
      uses: docker/build-push-action@v6
      with:
        push: true
        tags: |
              ikrivenko/pycommute:${{ github.ref_name }}
              ikrivenko/pycommute:latest
        build-args: LIBCOMMUTE_GIT_REF_NAME=${{ github.ref_name }}

    - name: Image digest
      run: echo ${{ steps.docker_build.outputs.digest }}
